<header>
    <img src="assets/img/gabriel.png" alt="gabriel ninow - profile pic" width="130px" height="130px" loading="eager">
    <h1>Gabriel Ninow</h1>
    <aside>
        <div class="container">
            <p>Fullstack Angular | C# & .net | Mysql</p>
            <p>Brasil</p>
            <p>
                I am a Software Development student, also worked as QA analist automating test Web, Mobile and API
            </p>
        </div>

        <nav>
            <ul>
                <li><a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">Resume</a></li>
                <li><a href="https://www.linkedin.com/in/gabriel-ninow/" target="_blank"
                        class="btn btn-secondary">LinkedIn</a>
                </li>
            </ul>
        </nav>

        <section>
            <figure>
                <img src="assets/icons/whatsapp.svg" alt="whatsapp logo" width="22px" height="24px">
                <figcaption>
                    <a href=" https://w.app/qxu4En">
                        <strong>Send me a message</strong>
                        <p>Whatsapp</p>
                    </a>
                </figcaption>
            </figure>

            <figure>
                <img src="assets\icons\mail.svg" alt="mail logo" width="22px" height="24px">
                <figcaption>
                    <a href="mailto:gabrielninow@gmail.com">
                        <strong>Send me an e-mail</strong>
                        <p>Email</p>
                    </a>
                </figcaption>
            </figure>
        </section>
    </aside>
</header>