:root {
    --primary: #7325B8;
    --primary-010: #311847;

    --secondary: #066298;
    --secondary-010: #033141;

    --white: #fff;

    --black: #10101a;
    --black-010: #181820;

    --grey: #9b9ba096;
}